<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Gerttt</title>
</head>
<body>
  <h1>Gert on kohal</h1>
  <p>Leht on loodud <a href="https://www.tlu.ee">Tallinna Ülikooli</a> tunnis ning on vägagi huvitav!</p>
  <hr>
  <hr>
  <ul>
	<li><a href="/">Avaleht</a></li>
	</ul>
	<hr>
	<h2>Eesti film</h2>
	<ul>
		<li><a href="/Eestifilm/inimesed">Eesti filmiinimesed</a></li>
		<li><a href="/Eestifilm/filmiinimesed_add">Eesti filmiinimeste lisamine</a></li>
	</ul>
</body>
</html>