<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Gerttt</title>
</head>
<body>
  <img src="images/vp_banner_2025_TA.jpg" alt="bänner">
  <h1>Gert on kohal</h1>
  <p>Leht on loodud <a href="https://www.tlu.ee">Tallinna Ülikooli</a> tunnis ning on vägagi huvitav!</p>
  <hr>
  <img src="images/lokepilt.webp" alt="pilt">
  <p>See on lõke!!!</p>
  <hr>
  <ul>
	<li><a href="/">Avaleht</a></li>
	</ul>
	<hr>
	<h2><%= heading %></h2>
	<ul>
		<!-- % märkidega on ejs kood muutujate näitamiseks -->
		<% listData.forEach(function(listItem){ %>
			<li><%= listItem %></li>
		<% }); %>
	</ul>
</body>
</html>