<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Gerttt</title>
</head>
<body>
  <img src="images/vp_banner_2025_TA.jpg" alt="bänner">
  <h1>Gert on kohal</h1>
  <p>Leht on loodud <a href="https://www.tlu.ee">Tallinna Ülikooli</a> tunnis ning on vägagi huvitav!</p>
  <hr>
  <img src="images/lokepilt.webp" alt="pilt">
  <p>See on lõke!!!</p>
  <hr>
  <ul>
	<li><a href="/">Avaleht</a></li>
	</ul>
	<hr>
	<h2>Pane end külastajana kirja</h2>
	<form method="POST">
		<label for="nameInput">Nimi</label>
		<input id="nameInput" type="text" name="nameInput" placeHolder="Kirjuta siia oma nimi...">
		<br>
		<input id="reqSubmit" type="submit" name="reqSubmit" value="Salvesta">
	</form>
</body>
</html>